services:
  - type: web
    name: beaverhabits-web
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install . --no-cache-dir
    startCommand: gunicorn beaverhabits.main:app --bind 0.0.0.0:$PORT -w 1 -k uvicorn_worker.UvicornWorker --max-requests 5000 --log-level info
    envVars:
      - key: ENV
        value: production
      - key: NICEGUI_STORAGE_PATH
        value: .user/.nicegui
      # If you want to use a managed Postgres instance on Render, set DATABASE_URL
      # - key: DATABASE_URL
      #   fromDatabase:
      #     name: your-postgres-db-name
      #     property: connectionString
